.product {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  width: 622px;
  margin: 0 auto;
  font-size: 14px;
}

.name {
  font-weight: bold;
  margin-bottom: 10px;
}

.title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.description {
  margin-bottom: 10px;
}

.details {
  margin-bottom: 20px;
  & > div:first-child {
    font-weight: bold;
    margin: 10px auto;
  }
}

.preview {
  & img {
    max-height: 150px;
  }
  & img:first-of-type {
    max-height: 200px
  }
}
