.product {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  width: 622px;
  margin: 0 auto;
  font-size: 14px;
}

.name {
  font-weight: bold;
  margin-bottom: 10px;
}

.title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.description {}

.details {
  & > div:first-child {
    font-weight: bold;
    margin: 10px auto;
  }
}

.preview {}
