.search {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
  & input {
    width: 600px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 4px;
    font-size: 16px;
    &:focus {
      outline: none;
    }
  }
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: fit-content;
}

@media (max-width: 600px) {
  .search {
    & .wrapper {
      padding: 0 10px;
    }
    & input {
      width: 90%;
      min-width: 380px;
    }
  }
}
